*.pyc
build/
dist/
*.egg-info
*.egg
*.eggs
.idea
.coverage
.tox/
tags
.env/
.tags
.tags_sorted_by_file
docs/_build/
# These are auto-created by sphinx-apidoc
docs/simple_salesforce*.rst
docs/modules.rst
